@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@200;300;400&family=Jua&family=Noto+Serif+KR:wght@200;300&family=Nunito+Sans:wght@200;300;400&family=Playfair+Display:wght@400;600&family=Sunflower&family=Water+Brush&display=swap');

/* 
테이블, 레이어팝업, 버튼, 탭, 레이블, 컬러, 레이아웃(헤더, 풋터, 사이드콘텐츠)등
기본 스타일이 계속 반복되는 경우 한번만 작성해서 콘텐츠용 css에 @import를 걸고 사용한다. 
 */

html, body{
    margin: 0 ;
    font-size: 14px;
}

ul,li,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, p, figure{
    margin: 0;
}

a{text-decoration: none;}
img{vertical-align: top;}

*{
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 1.7;
    color: #626262;
    font-family: 'Playfair Display', serif; 
}

h2{
    font-size: 1rem;
    color: #b4b4b4;
    font-family: 'nunito snas', sans-serif;
    font-weight: bold;
    margin-bottom: 60px;
    text-transform: uppercase;
    text-align: center;
}

h2::after{
    content: '';
    display: block;
    width: 60px;
    border-bottom: 2px solid black;
    margin: 10px auto;
}

.txt-s1{}

.txt-s1 > b{
    font-size: 2.2rem;
}


.txt-s1 > p{
    margin: 30px 0 50px;
}

.txt-s1 > a{
    font-size: 1rem;
    color: #b4b4b4;
    font-family: 'nunito snas', sans-serif;
    text-transform: uppercase;
}



header{
    padding: 60px 0;
}

header > div{
    width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header > div > h1{}

header > div > h1 > a{}

header > div > nav{}

header > div > nav > ul{
    display: flex;
}

header > div > nav > ul > li{
    position: relative;
}

header > div > nav > ul > li > a{
    display: inline-block;
    padding: 15px 2.5vw;
    text-transform: uppercase; /* 대문자 사용 */
}

header > div > nav > ul > li > div{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: translateY(100%);
    width: 100%;
    background-color: black;
    padding: 20px;
    display: none;
    z-index: 2;
}

header > div > nav > ul > li > div > a{
    display: block;
    color: aliceblue;
    text-align: center;
}

header > div > nav > ul > li:hover > div{
    display: block;
}

